In [2]:
import pandas as pd

In [3]:
mydata = pd.read_excel(r"C:\\Users\\USER\\Downloads\\SalesforcePractise.xlsx")

In [4]:
mydata

   S.No First Name Last Name  Phone           Email
0     1   Rishiraj     Singh  652452   test@test.com
1     2        Raj   Rajawat  554521  test1@test.com
2     3      Pawan     Singh   22455  test2@test.com
3     4      Mehul    Choksi  552255  test3@test.com
4     5      Vijay    Maliya   52583  test4@test.com

In [5]:
# pickle format (one of the binary file format)
mydata.to_pickle("pickle.pickle")

In [6]:
pwd

'C:\\Users\\USER\\Desktop\\Full Stack Data Science (Ineuron)'

In [7]:
# Different file format

h5_data = pd.HDFStore("h5")

In [8]:
h5_data['mydata'] = mydata

In [9]:
h5_data

<class 'pandas.io.pytables.HDFStore'>
File path: h5

In [10]:
h5_data['mydata']

   S.No First Name Last Name  Phone           Email
0     1   Rishiraj     Singh  652452   test@test.com
1     2        Raj   Rajawat  554521  test1@test.com
2     3      Pawan     Singh   22455  test2@test.com
3     4      Mehul    Choksi  552255  test3@test.com
4     5      Vijay    Maliya   52583  test4@test.com

In [11]:
# Serialised data = It means we won't be able to read the data. It's not readable from the file. If we need to read then we should use pandas of any other API to read the data. We will have deserialise the data.

In [12]:
h5_data.put('obj2',mydata,format = 'table')

In [13]:
h5_data

<class 'pandas.io.pytables.HDFStore'>
File path: h5

In [14]:
h5_data.select('obj2',where = ['index>=2 and index<=4'])

   S.No First Name Last Name  Phone           Email
2     3      Pawan     Singh   22455  test2@test.com
3     4      Mehul    Choksi  552255  test3@test.com
4     5      Vijay    Maliya   52583  test4@test.com

In [15]:
h5_data.select('mydata',where = Phone == 22455)

NameError: name 'Phone' is not defined

In [16]:
Serde: Serialisation= Conversion of object into byte code
Deserialisation = Bytecode to object.

# Serialisation 
# Deserialisation

SyntaxError: invalid syntax (3525476411.py, line 1)

In [17]:
# Some file formats are below:
txt,csv, zip,h5, json,pickle. (they all have specefic file format and has an architect)

SyntaxError: invalid syntax (1789754970.py, line 2)

In [18]:
# tasks which can not be performed efficiently with Pandas can be done with Spark.
# Hadoop == Is a filesystem and it has certain properties.

In [19]:
# In a layman 

# Serde operation
# Writing is serialisation and reading the data is deserialisation.

In [20]:
df = pd.read_csv(r"C:\Users\USER\Downloads//customers-100.csv")

In [21]:
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [22]:
df.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [23]:
df.tail()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [24]:
df.head(20)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,2020-01-13,https://www.bullock.net/
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,2021-11-08,https://arias.com/
10,11,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey,637-854-0256x825,114.336.0784x788,kirksalas@webb.com,2021-10-20,https://simmons-hurley.com/
11,12,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam,(041)737-3846,+1-556-888-3485x42608,mark42@robbins.com,2020-11-29,http://www.douglas.net/
12,13,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth,Togo,001-949-844-8787,(855)713-8773,alex56@walls.org,2021-12-02,http://www.beck.com/
13,14,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg,Sri Lanka,786-284-3358x62152,+1-315-627-1796x8074,holdenmiranda@clarke.com,2021-02-08,https://www.brandt.com/
14,15,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury,Singapore,(781)861-7180x8306,207-185-3665,cassieparrish@blevins-chapman.net,2022-01-26,http://stevenson.org/
15,16,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire,Oman,540.085.3135x185,+1-600-462-6432x21881,vduncan@parks-hardy.com,2022-04-12,http://acosta.org/
16,17,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad,Western Sahara,936.222.4746x9924,001-469-948-6341x359,holtgwendolyn@watson-davenport.com,2021-03-10,http://www.benson-roth.com/
17,18,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie,Mozambique,(701)087-2415,(195)156-1861x26241,jaredjuarez@carroll.org,2022-03-26,http://pitts-cherry.com/
18,19,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview,South Georgia and the South Sandwich Islands,001-151-330-3524x0469,(748)477-7174,joseph26@jacobson.com,2020-09-24,https://mcconnell.com/
19,20,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire,French Polynesia,(266)131-7001x711,(283)312-5579x11543,tuckerangie@salazar.net,2021-09-24,https://www.camacho.net/

In [25]:
df.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [26]:
df.describe() # It will only for the columns which has numeric value.

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [27]:
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [28]:
df["Customer Id"]

0     DD37Cf93aecA6Dc
1     1Ef7b82A4CAAD10
2     6F94879bDAfE5a6
3     5Cef8BFA16c5e3c
4     053d585Ab6b3159
           ...
95    cb8E23e48d22Eae
96    CeD220bdAaCfaDf
97    28CDbC0dFe4b1Db
98    c23d1D9EE8DEB0A
99    2354a0E336A91A1
Name: Customer Id, Length: 100, dtype: object

In [29]:
df.where = (["Company == Rasmussen Group"])

In [30]:
# To filter specefic datatype from the data.
df.dtypes[df.dtypes == 'object']

Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [31]:
df.dtypes[df.dtypes == 'object'].index

Index(['Customer Id', 'First Name', 'Last Name', 'Company', 'City', 'Country',
       'Phone 1', 'Phone 2', 'Email', 'Subscription Date', 'Website'],
      dtype='object')

In [32]:
df1 = df[df.dtypes[df.dtypes == 'object'].index]

In [33]:
df1.describe()

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
count,100,100,100,100,100,100,100,100,100,100,100
unique,100,93,97,99,100,85,100,100,100,96,100
top,DD37Cf93aecA6Dc,Sheryl,Greer,Simon LLC,East Leonard,Solomon Islands,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2021-12-02,http://www.stephenson.com/
freq,1,2,2,2,1,4,1,1,1,2,1

In [34]:
# Describe perform action only on numeric data but if you first filter out categorial data and then perform describe operation then it work for categorical data as well.

In [35]:
df.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [36]:
df.dtypes[df.dtypes == 'int64']

Index    int64
dtype: object

In [37]:
df2 = df[df.dtypes[df.dtypes == 'int64'].index]

In [38]:
df2

    Index
0       1
1       2
2       3
3       4
4       5
..    ...
95     96
96     97
97     98
98     99
99    100

[100 rows x 1 columns]

In [39]:
# series is like list and has index
types = df.dtypes
types

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [40]:
types[0]

C:\Users\USER\AppData\Local\Temp\ipykernel_13652\3587140579.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  types[0]

dtype('int64')

In [41]:
l = [3,4,5,6,7,8]

In [42]:
l[5]

8

In [43]:
df[df.dtypes[df.dtypes == 'int64'].index]

    Index
0       1
1       2
2       3
3       4
4       5
..    ...
95     96
96     97
97     98
98     99
99    100

[100 rows x 1 columns]

In [44]:
df["First Name"] # Series

0       Sheryl
1      Preston
2          Roy
3        Linda
4       Joanna
        ...
95        Karl
96        Lynn
97        Fred
98      Yvonne
99    Clarence
Name: First Name, Length: 100, dtype: object

In [45]:
df[["First Name"]] # Dataframe

   First Name
0      Sheryl
1     Preston
2         Roy
3       Linda
4      Joanna
..        ...
95       Karl
96       Lynn
97       Fred
98     Yvonne
99   Clarence

[100 rows x 1 columns]

In [46]:
df["First Name"][1:21:2]

1      Preston
3        Linda
5        Aimee
7        Brett
9     Michelle
11       Jenna
13    Kristine
15     Miranda
17        Greg
19      Joanna
Name: First Name, dtype: object

In [47]:
sorted(df["Company"][1:5])

['Dominguez, Mcmillan and Donovan',
 'Martin, Lang and Andrade',
 'Murillo-Perry',
 'Vega-Gentry']

In [48]:
#list of all columns

for i in df.columns:
    print(df[i])

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: Index, Length: 100, dtype: int64
0     DD37Cf93aecA6Dc
1     1Ef7b82A4CAAD10
2     6F94879bDAfE5a6
3     5Cef8BFA16c5e3c
4     053d585Ab6b3159
           ...
95    cb8E23e48d22Eae
96    CeD220bdAaCfaDf
97    28CDbC0dFe4b1Db
98    c23d1D9EE8DEB0A
99    2354a0E336A91A1
Name: Customer Id, Length: 100, dtype: object
0       Sheryl
1      Preston
2          Roy
3        Linda
4       Joanna
        ...
95        Karl
96        Lynn
97        Fred
98      Yvonne
99    Clarence
Name: First Name, Length: 100, dtype: object
0       Baxter
1       Lozano
2        Berry
3        Olsen
4       Bender
        ...
95       Greer
96    Atkinson
97      Guerra
98      Farmer
99      Haynes
Name: Last Name, Length: 100, dtype: object
0                     Rasmussen Group
1                         Vega-Gentry
2                       Murillo-Perry
3     Dominguez, Mcmillan and Donovan
4            Martin, Lang and Andrade
                   ...
95                          Carey LLC
96              Ware, Burns and Oneal
97                      Schmitt-Jones
98                 Fitzgerald-Harrell
99                 Le, Nash and Cross
Name: Company, Length: 100, dtype: object
0          East Leonard
1     East Jimmychester
2         Isabelborough
3            Bensonview
4        West Priscilla
            ...
95         East Richard
96         New Bradview
97           Ortegaland
98      Lake Elijahview
99            Judymouth
Name: City, Length: 100, dtype: object
0                          Chile
1                       Djibouti
2            Antigua and Barbuda
3             Dominican Republic
4     Slovakia (Slovak Republic)
                 ...
95                        Guyana
96                     Sri Lanka
97               Solomon Islands
98                         Aruba
99                      Honduras
Name: Country, Length: 100, dtype: object
0               229.077.5154
1                 5153435776
2            +1-539-402-0259
3     001-808-617-6467x12895
4     001-234-203-0635x76146
               ...
95       (188)169-1674x58692
96           +1-846-706-2218
97      +1-753-067-8419x7170
98             (530)311-9786
99             (753)813-6941
Name: Phone 1, Length: 100, dtype: object
0           397.884.0519x718
1           686-620-1820x944
2        (496)978-3969x58947
3            +1-813-324-8756
4      001-199-446-3860x3486
               ...
95      001-841-293-3519x614
96              605.413.3198
97     +1-632-666-7507x92121
98    001-869-452-0943x12424
99              783.639.1472
Name: Phone 2, Length: 100, dtype: object
0           zunigavanessa@smith.info
1                    vmata@colon.com
2                beckycarr@hogan.com
3        stanleyblackwell@benson.org
4            colinalvarado@miles.net
                   ...
95                  hhart@jensen.com
96                 vkemp@ferrell.com
97                  swagner@kane.org
98    mccarthystephen@horn-green.biz
99            colleen91@faulkner.biz
Name: Email, Length: 100, dtype: object
0     2020-08-24
1     2021-04-23
2     2020-03-25
3     2020-06-02
4     2021-04-17
         ...
95    2022-01-30
96    2021-07-10
97    2021-09-18
98    2021-08-11
99    2020-03-11
Name: Subscription Date, Length: 100, dtype: object
0            http://www.stephenson.com/
1                 http://www.hobbs.com/
2              http://www.lawrence.com/
3            http://www.good-lyons.com/
4           https://goodwin-ingram.com/
                    ...
95              http://hayes-perez.com/
96           https://novak-allison.com/
97                https://www.ross.com/
98                 http://watkins.info/
99    http://www.hatfield-saunders.net/
Name: Website, Length: 100, dtype: object

In [49]:
# Signature: df.add(other, axis: 'Axis' = 'columns', level=None, fill_value=None)

len(df.columns)

12

In [50]:
df[13] = 'my column'

In [51]:
len(df.columns)

13

In [52]:
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,13
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,my column
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,my column
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,my column
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,my column
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,my column
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,my column
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,my column
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,my column
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,my column
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,my column

In [53]:
df['new'] = 'newdata'

In [54]:
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,13,new
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,my column,newdata
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,my column,newdata
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,my column,newdata
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,my column,newdata
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,my column,newdata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,my column,newdata
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,my column,newdata
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,my column,newdata
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,my column,newdata
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,my column,newdata

In [55]:
df["newdata"] = df["Company"]

In [56]:
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,13,new,newdata
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,my column,newdata,Rasmussen Group
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,my column,newdata,Vega-Gentry
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,my column,newdata,Murillo-Perry
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,my column,newdata,"Dominguez, Mcmillan and Donovan"
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,my column,newdata,"Martin, Lang and Andrade"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,my column,newdata,Carey LLC
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,my column,newdata,"Ware, Burns and Oneal"
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,my column,newdata,Schmitt-Jones
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,my column,newdata,Fitzgerald-Harrell
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,my column,newdata,"Le, Nash and Cross"

In [57]:
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,13,new,newdata
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,my column,newdata,Rasmussen Group
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,my column,newdata,Vega-Gentry
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,my column,newdata,Murillo-Perry
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,my column,newdata,"Dominguez, Mcmillan and Donovan"
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,my column,newdata,"Martin, Lang and Andrade"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,my column,newdata,Carey LLC
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,my column,newdata,"Ware, Burns and Oneal"
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,my column,newdata,Schmitt-Jones
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,my column,newdata,Fitzgerald-Harrell
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,my column,newdata,"Le, Nash and Cross"

In [60]:
df['Country']

0                          Chile
1                       Djibouti
2            Antigua and Barbuda
3             Dominican Republic
4     Slovakia (Slovak Republic)
                 ...
95                        Guyana
96                     Sri Lanka
97               Solomon Islands
98                         Aruba
99                      Honduras
Name: Country, Length: 100, dtype: object

In [61]:
pd.Categorical(df['Country']) # It will give lenght of the data and under categories it will give number of distinct data.

['Chile', 'Djibouti', 'Antigua and Barbuda', 'Dominican Republic', 'Slovakia (Slovak Republic)', ..., 'Guyana', 'Sri Lanka', 'Solomon Islands', 'Aruba', 'Honduras']
Length: 100
Categories (85, object): ['Albania', 'Algeria', 'Anguilla', 'Antigua and Barbuda', ..., 'Vietnam', 'Western Sahara', 'Yemen', 'Zimbabwe']

In [63]:
df['Company'].unique() # To get the details of unique data.

array(['Rasmussen Group', 'Vega-Gentry', 'Murillo-Perry',
       'Dominguez, Mcmillan and Donovan', 'Martin, Lang and Andrade',
       'Steele Group', 'Lester, Woodard and Mitchell',
       'Sanford, Davenport and Giles', 'Browning-Simon', 'Beck-Hendrix',
       'Oconnell, Meza and Everett', 'Hoffman, Reed and Mcclain',
       'Graham-Francis', 'Carpenter-Cook', 'Carter-Hancock',
       'Singleton and Sons', 'Winters-Mendoza', 'Valentine LLC',
       'Simon LLC', 'Mays-Mccormick', 'Patterson Inc',
       'Manning, Hester and Arroyo', 'Greer and Sons', 'Watts-Donaldson',
       'Tucker LLC', 'Giles Ltd', 'Simmons Group',
       'Hinton, Chaney and Stokes', 'Santana-Duran', 'Sawyer PLC',
       'Acosta, Petersen and Morrow', 'Mcgee Group', 'Adkins-Salinas',
       'Herrera Group', 'Waters, Chase and Aguilar',
       'Palmer, Barnes and Houston', 'Jordan Ltd', 'Glover and Sons',
       'Huerta-Mclean', 'Anderson Ltd', 'Monroe PLC', 'Kaufman and Sons',
       'Perkins-Trevino', 'Cross PLC', 'Herrera, Shepherd and Underwood',
       'Price, Sexton and Mcdaniel', 'Short-Wiggins',
       'Brennan, Acosta and Ramos', 'Osborne-Erickson',
       'Hobbs, Garrett and Sanford', 'Phelps, Forbes and Koch',
       'May, Goodwin and Martin', 'Christian, Winters and Ellis',
       'Byrd Inc', 'Nixon, Blackwell and Sosa', 'Montes PLC', 'Costa PLC',
       'Novak LLC', 'Moore, Mccoy and Glass', 'Petty Ltd',
       'Brennan, Camacho and Tapia', 'Prince, Malone and Pugh',
       'Caldwell Group', 'Knight, Abbott and Hubbard', 'Church-Banks',
       'Henderson Inc', 'Donaldson-Dougherty', 'Warren Ltd', 'Wade PLC',
       'Keller-Coffey', 'Conway-Mcbride', 'Huynh and Sons', 'Parrish Ltd',
       'Guzman-Brown', 'Chang, Aguirre and Leblanc', 'Mason-Hester',
       'Mcguire, Huynh and Hopkins', 'Sanchez, Marsh and Hale',
       'Combs, Waller and Durham', 'Blankenship-Arias',
       'Coffey, Lamb and Johnson', 'Fitzpatrick-Lawrence',
       'Garcia-Jimenez', 'Mcdonald, Bird and Ramirez', 'Stephens Inc',
       'Montoya-Miller', 'Vaughn, Watts and Leach', 'Carter-Strickland',
       'Decker-Mcknight', 'Byrd-Campbell', 'Rocha-Hart', 'Lamb-Peterson',
       'Lee, Lucero and Johnson', 'Newton, Petersen and Mathis',
       'Carey LLC', 'Ware, Burns and Oneal', 'Schmitt-Jones',
       'Fitzgerald-Harrell', 'Le, Nash and Cross'], dtype=object)

In [64]:
df['First Name'].isnull() # To check if there's a null value in the database. Function which starts with is always return result in null value.

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: First Name, Length: 100, dtype: bool

In [70]:
df['Company'][df['Company'].isnull() == True] # To get data where value is null.

Series([], Name: Company, dtype: object)

In [72]:
ser = df['Company'][df['Company'].isnull() == False]

In [74]:
ser.index # Indexes where data is not null

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='int64')

In [75]:
df.iloc[ser.index] # this function will give data of the indexes.

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,13,new,newdata
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,my column,newdata,Rasmussen Group
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,my column,newdata,Vega-Gentry
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,my column,newdata,Murillo-Perry
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,my column,newdata,"Dominguez, Mcmillan and Donovan"
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,my column,newdata,"Martin, Lang and Andrade"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,my column,newdata,Carey LLC
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,my column,newdata,"Ware, Burns and Oneal"
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,my column,newdata,Schmitt-Jones
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,my column,newdata,Fitzgerald-Harrell
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,my column,newdata,"Le, Nash and Cross"

In [78]:
df.iloc[[1,2,3]] # We will be able to get selected rows data as well.

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,13,new,newdata
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,my column,newdata,Vega-Gentry
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,my column,newdata,Murillo-Perry
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,my column,newdata,"Dominguez, Mcmillan and Donovan"

In [79]:
len(ser.index)

100

In [80]:
# Extract First Name whose phone 1 = 5153435776

In [88]:
ss = df['First Name'].equals = 5153435776

In [85]:
# Reach out, filter and then extract

5153435776

In [96]:
ssr = df['Country'] == 'Djibouti'

0     False
1      True
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Country, Length: 100, dtype: bool

In [102]:
ssr.iloc[ssr.index]

0     False
1      True
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Country, Length: 100, dtype: bool

In [106]:
# To combine two columns
df['comp'] = df['Company'] + df['Website']

In [107]:
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,13,new,newdata,comp
0,1,DD37Cf93aecA6Dc,5153435776,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,my column,newdata,Rasmussen Group,Rasmussen Grouphttp://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,5153435776,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,my column,newdata,Vega-Gentry,Vega-Gentryhttp://www.hobbs.com/
2,3,6F94879bDAfE5a6,5153435776,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,my column,newdata,Murillo-Perry,Murillo-Perryhttp://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,5153435776,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,my column,newdata,"Dominguez, Mcmillan and Donovan","Dominguez, Mcmillan and Donovanhttp://www.good..."
4,5,053d585Ab6b3159,5153435776,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,my column,newdata,"Martin, Lang and Andrade","Martin, Lang and Andradehttps://goodwin-ingram..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,5153435776,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,my column,newdata,Carey LLC,Carey LLChttp://hayes-perez.com/
96,97,CeD220bdAaCfaDf,5153435776,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,my column,newdata,"Ware, Burns and Oneal","Ware, Burns and Onealhttps://novak-allison.com/"
97,98,28CDbC0dFe4b1Db,5153435776,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,my column,newdata,Schmitt-Jones,Schmitt-Joneshttps://www.ross.com/
98,99,c23d1D9EE8DEB0A,5153435776,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,my column,newdata,Fitzgerald-Harrell,Fitzgerald-Harrellhttp://watkins.info/
99,100,2354a0E336A91A1,5153435776,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,my column,newdata,"Le, Nash and Cross","Le, Nash and Crosshttp://www.hatfield-saunders..."